 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>ROS Agriculture is an open source community that is interested in helping meet the demand of increasing our food production 50% by 2050.</p>
                </div>
                <div class="col-lg-4">
                    <p>Whether you're a student looking to showcase your work, a professional looking to attract clients, or a farmer looking for help on your projects, we would love to hear from you. </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">

                </div>
            </div>
        </div>
    </section>
