    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="img/profile.png" alt="">
                    <div class="intro-text">
                        <span class="name">/images/farmer.jpg</span>
                        <hr class="star-light">
                        <span class="skills">Robots are coming to the farm.  Let ROS Agriculture provide you with transparency of technology to adopt these new tools.  Learn what works, understand what's going on under the hood, and choose what's right for you.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
