
    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>Democratization of food production.<br />Open source sustainable farming.</h3>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row text-center">
                
<div style="position:relative;height:0;padding-bottom:56.25%">
    
    <iframe src="https://player.vimeo.com/video/146183080" width="480" height="640" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
<p><a href="https://vimeo.com/146183080">ROS 8 Year Montage</a> from <a href="https://vimeo.com/osrfoundation">OSRF</a> on <a href="https://vimeo.com">Vimeo</a>.</p>

<p></p>
            </div>
        </div>
    </section>
