
    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Portfolio</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row text-center">
<video width="320" height="240" controls>
  <source src="/video/ros.mp4" type="video/mp4">
Your browser does not support the video tag.
</video>
            </div>
        </div>
    </section>
